.c-sm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    &__container-facebook, &__container-google{
        width: 170px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 24px;
        border-radius: 4px;
        font-weight: 300;
        padding-right: 15px;
    }
    &__container-facebook{
        background-color:#4267B2;
        color: white;
        margin-right: 10px;
    }
    &__container-google{
        border: 2px solid rgb(109, 109, 109, );

    }
    &__img{
        width: 25px;
        padding-bottom: 4px;
        padding-right: 2px;
        margin-right: 3px;
    }
}

.google{
    padding-top: 3px;
}