.pet{
    margin-left: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.166);
    height: 600px;
    width: 90%;
    &-t{
        margin-left: 10px;
    }   
}

.pet-cont{
    display: flex;
    margin: 4px 0px 20px 10px;
    width: 90%;
  
    border-bottom: 1px solid rgba(0, 0, 0, 0.166);
    padding: 10px 0px 10px 0px;
    


    &-img{
        display: flex;
        max-height: 80%;
        justify-content: center;
        align-items: center;

        &-im{
            max-width: 100%;
        }
    }

    &-text{


        margin: 0px 8px 0px 8px;

        &-s{
            font-size: small;
            margin: 0px;
        }

    }
    
    &-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4px;
        gap: 16px;

        &-b{
            background-color: rgb(246, 143, 36);
            color: white;
            border: none;
            border-radius: 6px;
            font-size: small;
            width: 74px;
            height: 32px;
        }

        &-a{
            text-decoration: none;
            color: rgb(0, 149, 190);
        }
    }
}