.b-credits-and-discount{
padding-left:13.5px;


}

.b-encabezado{
    padding-left:13.5px;

    &-title {
        
        text-align: start;
        font-weight: 500;
        font-size: xx-large;
    }
}

